<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">User Details</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-2" style="text-align: right;">Name</div>
        <div class="col-4">
            <input type="text" [ngModel]="selected_name" class="form-control" [disabled]='disable_edit'>
        </div>
        <div class="col-2" style="text-align: right;">Username</div>
        <div class="col-4">
            <input type="text" [ngModel]="selected_username" class="form-control" [disabled]='disable_edit'>
        </div>
    </div>
    <div class="row">
        <div class="col-2" style="text-align: right;">Email</div>
        <div class="col-4">
            <input type="text" [ngModel]="selected_email" class="form-control" [disabled]='disable_edit'>
        </div>
        <div class="col-2" style="text-align: right;">Phone</div>
        <div class="col-4">
            <input type="text" [ngModel]="selected_phone" class="form-control" [disabled]='disable_edit'>
        </div>
    </div>
    <div class="row">
        <div class="col-2" style="text-align: right;">Website</div>
        <div class="col-4">
            <input type="text" [ngModel]="selected_website" class="form-control"[disabled]='disable_edit'>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="close()">Close</button>
    <button *ngIf="disable_edit" type="button" class="btn btn-primary" (click)="update()">Edit</button>
    <button *ngIf="!disable_edit" type="button" class="btn btn-danger" (click)="delete()">Delete</button>
    <button *ngIf="!disable_edit" type="button" class="btn btn-secondary" (click)="cancel()">Cancel</button>
    <button *ngIf="!disable_edit"type="button" class="btn btn-primary" (click)="save()">Save</button>
</div>